@import '../../base.scss';

@mixin corner {
  width: px($border-radius);
  transform: rotate(180deg);
  position: relative;
}

@mixin with-inverted-radius {
  width: px($border-radius);
  transform: rotate(180deg);
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: px(-2 * $border-radius);
    height: px(2 * $border-radius);
    width: px($border-radius);
    border-top-left-radius: px($border-radius);
    box-shadow: 0 px(-$border-radius) 0 0 $tab-bg-color-active;
  }
}

.tab-header-item__container {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;

  & > * {
    cursor: pointer;
  }

  .tab-header-item__left-corner {
    @include corner();
    &--active {
      @include with-inverted-radius();
    }
  }
  .tab-header-item__content-container {
    height: 100%;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $tab-bg-color;
    border-top-left-radius: px($border-radius);
    border-top-right-radius: px($border-radius);

    .tab-header-item__content-container__text {
      color: #ffffff;
    }

    &--active {
      background-color: $tab-bg-color-active;
    }
  }
  .tab-header-item__right-corner {
    @include corner();
    &--active {
      @include with-inverted-radius();
      transform: scale(1, -1);
    }
  }
}
